.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}
.nav-wrapper .brand-logo img {
    height: 64px;
    width: 104px;
}