.card {
    height: 500px; /* Your height here */
    overflow: hidden;
}
.card-cart {
	height: 200px;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}

.nav-wrapper .brand-logo img {
    height: 64px;
    width: 110px;
}
